<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.miniproject.mapper.PrivateDataMapper">

	<insert id="setEmailSendDate">
		INSERT INTO private_data (`to`, `from`, email_send_date)
		VALUES (#{to}, #{from}, #{emailSendDate})
		ON DUPLICATE KEY UPDATE email_send_date = #{emailSendDate}
	</insert>

	<insert id="setVip">
		INSERT INTO private_data (`to`, `from`, vip)
		VALUES (#{to}, #{from}, #{vip})
		ON DUPLICATE KEY UPDATE vip = #{vip}
	</insert>

	<insert id="insertTransmission" parameterType="java.lang.Long">
		INSERT INTO private_data (`to`, `from`, email_send_date, vip)
		VALUES (#{to}, #{from}, NOW(), FALSE)
		ON DUPLICATE KEY UPDATE email_send_date = NOW()
	</insert>
</mapper>
